
<header>
     <p>204/208: ARU webinterface</p>
</header>
     
<aside>
    <nav>
       <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-fingerprint"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-clock"></i> Scheduler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cog"></i> Settings</a>
          </li>
        </ul>
    </nav>
</aside>

<div class="container">

    <section>
        <button id="1">Nog</button>
        <button id="2">Relay2</button><br>
        <button id="3">amai ni</button>
        <button id="4">Stijn</button><br>
        <button id="all">All</button>
    </section>

    <footer>
        <p>Copyright &copy; 2018 PVS</p>
    </footer>
</div>
