body {
    background-color: #1d1f21;
}

header {
    text-align: center;
    width: 100%;
    background-color: aqua;
    color: white;
    border: 1px solid white;
    margin: 10px;
}

nav {
    float: left;
    background-color: grey;
    height: 100vh;
}

.container {
    height: 100vh;
    background-color: #1d1f21 ;
}

ul {
    display: block;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    color: white;
}

button {
    width: 150px;
    height: 100px;
    margin: 10px;
}

#all {
    width: 320px;
}